/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f03b;
    padding: 10px;
}

/* Grid na página inicial */
.cursos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}